/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  margin: 0;
  font-family: "Poppins";
  background-color: white;
  color: black;
  /* text-align: right; */
}

.container {
  margin: 0rem;
  text-align: center;
}

h2 {
  padding: 0px;
  margin: 0px;
}

table,
td,
th {
  border: 1px solid;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  /* display: inline; */
  /* align-items: center; */
  /* gap: 10%; */
  /* border: solid; */
}

li {
  /* padding: 0px; */
}

ol {
  /* background-color: #920f0f; */
  /* padding: 10px; */
  /* margin: 1px; */
  list-style: decimal;
  /* display:flexbox; */
  /* align-items:baseline; */
  /* gap: 3rem; */
  display: inline-block;
  /* list-style-position:inside; */
  text-align: left;
}
