.printers table {
  padding: 10px 0px 0px 0px;
  margin: 0px;
  display: inline-block;
  border-spacing: 0px;
}

.printers td {
  border: 1px solid;
  padding: 0px;
  margin: 0px;
}

.printers tr {
  padding: 10px;
}

.printers ul {
  list-style: none;
  text-align: center;
}

li {
  /* padding: 0px; */
}

ol {
  /* background-color: #920f0f; */
  /* padding: 10px; */
  /* margin: 1px; */
  list-style: decimal;
  /* display:flexbox; */
  /* align-items:baseline; */
  /* gap: 3rem; */
  display: inline-block;
  /* list-style-position:inside; */
  text-align: left;
}

.printers a {
  color: blue;
  text-decoration: underline;
  height: 100%;
  /* display: inline-box; */
  padding: 1rem;
}

a.active {
  /* background-color: #555; */
}

a:hover {
  /* background-color: #777; */
}

a:visited {
  color: blue;
}

.collapsible-trigger {
  font-weight: bold;
  cursor: pointer;
  font-size: x-large;
  align-items: right;
  display: inline-block;
}

.collapsible-content {
  /* display: inline-block; */
  background-color: black;
  /* color: red; */
  /* text-align: left; */

  /* Styles applied when opened... */
}
