.links h2 {
  padding: 2px;
  margin: 0px;
  text-align: center;
}

.links ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  /* display: inline; */
  /* gap: 10%; */
  /* border: solid; */
}

.links li {
  /* padding: 0px; */
  text-align: center;
  list-style: none;
}

.links a {
  color: rgb(255, 255, 255);
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
