.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, auto); /* Two buttons per row */
  gap: 5px; /* Space between buttons */
}

.section-header {
  background-image: url("~/public/images/menu/home-header.jpg");
  /* background-color: white; */
  background-size: cover; /* Ensure the image covers the entire header */
  background-position: center; /* Center the image within the header */
  color: white; /* Text color */
  padding: 1px;
  /* border-radius: 80px; */
  /* align-items: center; */
  justify-content: center;
  /* height: 100px; */
  /* margin-bottom: 20px; */
}

.links button {
  padding: 15px 30px;
  width: 100%;
  font-size: 18px;
  border-radius: 50px;
  background-color: #0f3455;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  color: white;
  /* border: none; */
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

.links h2 {
  padding: 2px;
  margin: 0px;
  /* text-align: center; */
}

.links ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.links li {
  list-style: none;
}

.links a {
  color: white;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
