.internet table {
  border-collapse: separate;
  border-spacing: 0px;
  /* border: 1px solid; */
  padding: 0px;
  margin: 10px;
  display: inline-block;
}

.internet td {
  padding: 3px 0px 0px 0px;
  margin: 0px;
  border: 1px solid;
}

.internet th {
  padding: 3px;
  margin: 0px;
  border: 1px solid;
  /* display: inline; */
  /* align-items: center; */
  /* gap: 10%; */
  /* border: solid; */
}

.internet li {
  padding: 0px;
  /* text-align: left; */
}

.internet ul {
  display: inline-block;
  text-align: left;
  list-style: disc;
  /* padding: 10px;
  margin: 10px; */
}

.internet a {
  color: #0f3455;
}

ol {
  /* background-color: #920f0f; */
  /* padding: 10px; */
  /* margin: 1px; */
  list-style: decimal;
  /* display:flexbox; */
  /* align-items:baseline; */
  /* gap: 3rem; */
  display: inline-block;
  /* list-style-position:inside; */
  text-align: center;
}
