* {
  box-sizing: border-box;
}

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  margin: 0;
  font-family: "Poppins";
  background-color: white;
  color: black;
  /* text-align: right; */
}

.container {
  margin: 0rem;
  text-align: center;
}
